
body{
background-image: url("http://wallpapercave.com/wp/goKnXzJ.png");
margin: 50px; 
margin-right: 20px;
}
h1 {
  text-align: center;
  font-family: helvetica;
  color: black;
  position: absolute;
  -webkit-animation: slide 2s infinite alternate linear;
}
@-webkit-keyframes slide {
    0% { left: 17%; }
    25% { left: 19%; }
    50% { left: 21;}
    75% { left: 23%; }
    100% { left:25%;}
}
img{
  max-width: 100px;
  max-height: 100px;
  position: absolute;
  margin-left: 50px;
}

}
#game-wrap{
    width: 450px;
    height: 455px;
    margin: 0 auto;
    background: gray;
    margin-top: 50px;
    border-left: 5px solid gray;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.row{
    width: 100%;
    height: 150px;
}
.col{
    width: 32%;
    height: 145.5px;
    border: 3px solid black;
    float: left;
    text-align: center;
    font-size: 150px;
    font-family: helvetica;
    color: white;
    cursor: pointer;
    text-shadow: 4px 4px 22px rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: inset 1px 1px 85px -11px rgba(12,63,143,1);
}
.col:hover {
        -webkit-box-shadow: inset 1px 1px 25px -2px rgba(0,0,0,0.75);
        -moz-box-shadow: inset 1px 1px 25px -2px rgba(0,0,0,0.75);
        box-shadow: inset 1px 1px 27px -2px rgba(0,0,0,0.75);
}
.col:active {
        background-color: white;
        -webkit-box-shadow: inset 1px 1px 25px -2px rgba(0,0,0,0.75);
        -moz-box-shadow: inset 1px 1px 25px -2px rgba(0,0,0,0.75);
        box-shadow: inset 1px 1px 25px -2px rgba(0,0,0,0.75);
}
.matched{
    color: maroon;
}
.player-1-color{
    color: black;
}
.col:nth-child(1){
    border-left: none;
}
.col:nth-child(3){
    border-right: none;
}

.row:nth-child(1) .col{
    border-top: none;
    margin-top: 3px;
}
.row:nth-child(3) .col{
    border-bottom: none;
    margin-bottom: 3px;
}
#panel{
    width: 390px;
    padding: 7px;
    margin: 0 auto;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-left: 396px;
}
#boardDisplay{
    font-size: 30px;
    font-family: helvetica;
    color: white;
    margin-top: 10px;
    text-shadow: 4px 4px 22px rgba(0, 0, 0, 0.8);
}
audio {
    display: none;
}
button {
    border: 1px solid rgba(255,255,128,0.4);
    background-color: rgba(255,255,255,0.8);
    -webkit-box-shadow: inset 1px 1px 85px -11px rgba(255,255,255,1);
    box-shadow: inset 1px 1px 85px -11px rgba(255,255,255,1);
    width: 80%;
    height: 30%;
    margin: 0.5em;
    border-radius: 0.5em;
    margin-left: -21px;
}